<header id="masthead" class="site-header">
  <div class="site-width">
    <div>
      <div class="row tertiary-row">
        <div class="t-wrap tertiaryNav col-lg-11 col-md-12">
          <div class="widget widget_nav_menu menu-utility-container">
            <ul id="menu-utility" class="menu">
              <li id="menu-item-wpml-ls-10-en"
                  class="menu-item wpml-ls-slot-10 wpml-ls-item wpml-ls-item-en wpml-ls-current-language wpml-ls-menu-item wpml-ls-first-item menu-item-type-wpml_ls_menu_item menu-item-object-wpml_ls_menu_item menu-item-has-children menu-item-wpml-ls-10-en dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true"><span
                  class="glyphicon US"></span>
                  <img class="wpml-ls-flag" src="../../../assets/images/South_Africa.png" width="20px">
                  <span class="wpml-ls-display">RSA</span>
                  <span class="caret"></span></a>
              </li>
              <li id="menu-item-1279" class="menu-item menu-item-type-post_type menu-item-object-page"><a
                [routerLink]="['/login']">login</a></li>
              <li id="menu-item-3685" class="tealButton menu-item menu-item-type-custom menu-item-object-custom"><a
                target="_blank" [routerLink]="['/register']">Register</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row nav-row">
        <div class="site-header-inner col-sm-3 col-md-2 col-lg-offset-1">
          <a href="/" title="Parlour-Soft" rel="home">
            <img src="../../assets/images/parlour-soft-web-logo.png" alt="Parlour-Soft" class="logo"></a>
          <a id="logo_new" style="display:none;" href="https://www.achievers.com/" title="Achievers" rel="home">Parlour-Soft</a>
        </div>

        <div class="site-navigation-inner col-sm-9 col-md-10 col-lg-8">
          <div class="navbar navbar-default">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"
                      title="Mobile Menu">
                <span class="sr-only">Toggle navigation </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <!-- The WordPress Menu goes here -->
            <div class="collapse navbar-collapse">
              <ul id="main-menu" class="nav navbar-nav">
                <li id="menu-item-1041" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown">
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Why ParlourSoft? <span class="caret"></span></a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Explore</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Pricing</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="">Support</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page demo-btn"><a href="">Demo</a></li>
              </ul>
            </div>
          </div><!-- .navbar -->
        </div><!-- .site-navigation-inner -->
      </div>
    </div>
  </div>
</header>
